version: '3.8'

services:
  backend:
    build:
      context: .
      args:
        DATABASE_URL: mysql://user:password@db:3306/auto_track-db
    depends_on:
      - db
    ports:
      - "8369:8369"
    environment:
      DATABASE_URL: mysql://user:password@db:3306/auto_track-db
      FIREBASE_PROJECT_ID: autotrack-23a9e
    env_file:
      - .env
    networks:
      - auto_track-network

  db:
    image: mysql:8
    environment:
      MYSQL_DATABASE: auto_track-db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./db:/docker-entrypoint-initdb.d
    networks:
      - auto_track-network

volumes:
  db_data:

networks:
  auto_track-network:
