version: '3.8'

services:
  backend:
    build:
      context: .
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: mysql://user:password@db:3306/auto_track-db
    networks:
      - auto_track-network

  db:
    image: mysql:8
    environment:
      MYSQL_DATABASE: auto_track-db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - auto_track-network

volumes:
  db_data:

networks:
  clynelish-network:
